@import url(Variables.css);
html,body,*{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0%;
}
title, .app{
  font-size: 10rem;
}
.animation{
  background-color: aliceblue;
font-size: 10rem;
}
#buttonContainer{
  display: flex;
  font-size: 10rem;
  align-content: center;
}
.buttons{
  display: flex;
  font-size: 5rem;
  width: 30rem;
  margin: 2rem;
  align-content: center;
  align-items: center;
}
