:root{
  --lightBlue: #4fcbe4;
  --dark: rgb(76, 107, 247);
  --lightGreen: #90ee90
  --alternate: #c30010;
  --purple: #A020F0
  --black: #000;

  /* Intentions */
  --primary: var(--light);
  --secondary: var(--dark);
  --defaultBacco: var(--light);
  --alternateBacco: var(--lightBlue);
  --cardColor: var(--lightGreen);
  --buttonC: var(var(--purple));
  
  
   
  /* Typing and Font-Sizes */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --h6: 1rem;
}




